.searchBar{
   
    align-items: center;
    display: flex;
    justify-content:center;
    padding: 20px;
}

.searchitem{
   
    border: 2px solid rgb(146, 41, 41);;
    border-radius: 10rem 0rem 0rem 10rem;
    outline: none;
    padding-left: 1.2rem;
    background: rgb(243, 241, 241);

  

}

.searchitem:hover{

    border: 1px solid rgb(146, 41, 41);

  
}

.searchbtn{

color: rgb(20, 2, 2);
border: 2px solid rgb(146, 41, 41);
background: whitesmoke;
font-weight: bold;
outline: none;


}

.searchbtn:hover{
    color: white;
    background: red;
}
